body {
    background-color: #FFC107; /* Yellow background */
    font-family: "Rubik Mono One", monospace;
    text-align: center;
    color: #000;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 80%;
    max-width: 300px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1.2em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #FFF;
    color: #000;
    width: 100%; /* Ensure the select element has the same width */
}

button {
    font-family: "Rubik Mono One", monospace;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.save-button {
    font-weight: bold;
    font-size: 1.5em;
    padding: 15px 30px;
    max-width: 300px; /* Set a maximum width for the button */
    width: 100%; /* Ensure the button takes the full width up to the max-width */
}

header img {
    max-width: 100%;
    max-height: 200px;
    height: auto;
}

.shortcuts {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shortcuts button {
    background-color: #FFF;
    color: #000;
    border: 2px solid #000;
    margin: 5px;
    max-width: 150px; /* Set a maximum width for the buttons */
    flex: 1 1 auto; /* Allow buttons to grow and shrink */
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortcuts button:hover {
    background-color: #000;
    color: #FFF;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    position: relative;
}

nav a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -5px;
    left: 0;
}

nav a:hover {
    text-decoration: none; /* Remove underline on hover */
}