<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flying Piggy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flying_piggy_app/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <img src="{% static 'flying_piggy_app/header.png' %}" alt="Flying Piggy Header Image" class="logo">
            <nav>
                <a href="{% url 'progress' %}" class="{% if request.path == '/' %}active{% endif %}">PRGRSS</a>
                <a href="{% url 'add_entry' %}" class="{% if request.path == '/add_entry/' %}active{% endif %}">$AVE</a> 
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2024 Baobao & Maomao</p>
        </footer>
    </div>
</body>
</html>