{% extends 'base.html' %}

{% block content %}
  <h2>Your Savings Goals</h2>
  <ul>
    {% for item in goal_progress %}
      <li>
        <strong>{{ item.goal.name }}</strong> - Target: ${{ item.goal.target_amount }}<br>
        Saved: ${{ item.total_saved }} ({{ item.progress_percentage|floatformat:2 }}%)
      </li>
    {% endfor %}
  </ul>
  <h2>Latest Entries</h2>
  <ul>
    {% for entry in latest_entries %}
      <li>{{entry.user.username}} - {{ entry.date }} - ${{ entry.amount }} - {{ entry.description }} (for {{entry.goal.name}})</li>
    {% endfor %}
  </ul>
{% endblock %}