runtime: python39
entrypoint: gunicorn -b :$PORT flying_piggy.wsgi

env_variables:
  DJANGO_SETTINGS_MODULE: "flying_piggy.settings"
  SECRET_KEY: "your-secret-key"
  DEBUG: "False"
  ALLOWED_HOSTS: ".appspot.com"
  DB_NAME: "YOUR_DB_NAME"
  DB_USER: "YOUR_DB_USER"
  DB_PASSWORD: "YOUR_DB_PASSWORD"
  CLOUD_SQL_CONNECTION_NAME: "YOUR_CLOUD_SQL_CONNECTION_NAME"

beta_settings:
  cloud_sql_instances: "YOUR_CLOUD_SQL_CONNECTION_NAME"